stages:
- test
- docker_build

test:
  image: "python:3"
  stage: test
  script:
  - apt install make
  - make deps
  - make test
docker_build:
  image: docker:stable
  services:
    - docker:dind
  stage: docker_build
  script:
  - apt install make
  - make docker_build
